<!-- <router-outlet></router-outlet> -->
<!-- <app-home></app-home> -->

<!-- <app-sidebar></app-sidebar>
<app-topbar></app-topbar>
<app-search></app-search>
<app-hrhomepage></app-hrhomepage> -->
<app-createusers></app-createusers>

<!-- <app-personaldetails></app-personaldetails> -->
<!-- <app-educationaldetails></app-educationaldetails> -->
<!-- <app-projectdetails></app-projectdetails> -->
<!-- <app-skilldetails></app-skilldetails> -->
<!-- <app-achievementdetails></app-achievementdetails> -->
<!-- <div class="main-container">
    <div class="wrapper">
        <router-outlet>
            <creator-component *ngIf="isUser()"></creator-component>
            <searcher-component *ngif="isSearcher()"></searcher-component>
            <admin-component *ngIf="isAdmin()"></admin-component>
            <hr-component *ngIf="isHr()"></hr-component>
        </router-outlet>
    </div>
</div> -->
