<app-topbar></app-topbar>
<app-sidebar></app-sidebar>

<div class="container d-flex justify-content-center table-box">
    <form action="#" class="form">

        <div class="progressbar">
            <div class="progress" id="progress"></div>

            <div class="progress-step progress-step-active" data-title="Personal"></div>
            <div class="progress-step progress-step-active" data-title="Education"></div>
            <div class="progress-step progress-step-active" data-title="Project"></div>
            <div class="progress-step progress-step-active" data-title="Skills"></div>
            <div class="progress-step" data-title="Achievements"></div>
        </div>

        <div class="form-step form-step-active">
            <h3>Skills</h3>
            <div class="input-group">
                <label for="percentage">Domain</label>
                <select name="country" id="country">
                    <option value="">Select Domain</option>
                    <option value="">Data Science</option>
                    <option value="Australia">AI</option>
                    <option value="USA">Cloud computing</option>
                    <option value="Australia">Cyber Security</option>
                </select>
            </div>
            <div class="input-group">
                <label for="percentage">Technology</label>
                <select name="country" id="country">
                    <option value="">Select Technology</option>
                    <option value="">IoT</option>
                    <option value="Australia">RPA</option>
                    <option value="USA">Full Stack Development</option>
                    <option value="Australia">Devops</option>
                </select>
            </div>
            <div class="button">
                <a href="#" class="btn btn-next width-50 ml-auto">Add</a>
            </div>
            <br>

            <div class="row">
                <div class="col">
                  <!-- <div class="kcard" *ngFor="let item of Skilldetails">
                    <div class="card card-body">
                        <p class="card-text">Domain: {{item.domain}}<br>Technology: {{item.technology}}</p>
                        <h2><a class="fa-solid fa-pen fa-sm"></a><i class="fa-solid fa-trash fa-sm"></i></h2>
                    </div>

                  </div> -->
                </div>
                <!-- <div class="col">
                    <div class="card card-body">
                        <p class="card-text">Domain : IT<br>Technology : Dot NET</p>
                        <h2><a class="fa-solid fa-pen fa-sm"></a><i class="fa-solid fa-trash fa-sm"></i></h2>

                    </div>
                </div> -->
            </div>
          </div>

            <table>
                <tr>
                    <div class="row btns-group"></div>
                </tr>
                <td>
                    <a routerLink="/projectdetails" class="btn btn-prev btns-group">Previous</a>
                </td>
                <td>
                    <a href="#" class="btn btns-group">SaveasDraft</a>
                </td>
                <td>
                    <a routerLink="/achievementsdetails" class="btn btn-next btns-group">Next</a>
                </td>
            </table>
        <!-- </div> -->
    </form>
</div>
