<app-topbar></app-topbar>
<div class="container">
    <div class="myCard">
        <div class="row">
            <div class="col-md">
                <div class="myLeftCtn">
                    <form class="myForm text-center">
                        <header class="">Forgot password?</header>
                        <div class="form-group py-1 px-3">

                            <img src="https://static.vecteezy.com/system/resources/previews/000/581/808/original/lock-icon-vector-illustration.jpg"
                                width="107" height="90">
                        </div>
                        <p>Please enter your registered email address</p>
                        <div class="form-group py-1 px-3">
                            <i class="fas fa-envelope"></i>
                            <input class="myInput" type="email" id="password" placeholder="Enter Email" required>
                        </div>
                        <!-- 
                            <div class="form-group">
                                <i class="fas fa-lock"></i>
                     <input class="myInput" type="password" id="password" placeholder="New Password" required> 
                            </div> 
                            <div class="form-group py-1 px-3">
                                <i class="fas fa-lock"></i>
                                <input class="myInput" type="password" id="password" placeholder="Confirm New Password" required> 
                            </div>-->

                        <!-- <div class="form-group">
                                <label>
                                    <input id="check_1" name="check_1"  type="checkbox" required><small> I read and agree to Terms & Conditions</small></input> 
                                    <div class="invalid-feedback">You must check the box.</div>
                                </label>
                            </div> -->

                        <a [routerLink]="['../login1']"><input type="button" class="butt ml-3 mb-2"
                                value="Send reset link"></a>

                        <a [routerLink]="['../login1']"><input type="button" class="butt ml-3 mb-2" value="Back"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>