<app-topbar></app-topbar>
<app-sidebar></app-sidebar>
<script src="https://kit.fontawesome.com/968b7ca54c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

<div class="container d-flex justify-content-center table-box">
    <div class="main">
            

       
        <div class="kcard "  *ngFor="let item of cards | paginate: { itemsPerPage: 8, currentPage: page,totalItems:totalLength }">
            <a [routerLink]="['../viewprofile']"><img  class="card-img-top" src={{item.profileImage}} alt="Card image cap"></a>
            <div class="status">
                <p>Status :<br></p>
                 <p class="card-text">{{item.status}}</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>{{item.name}} - {{item.designation}}<br>Reporting Person-{{item.reportingPerson}}</p><br>
             <h2><i  class="fa fa-pencil fa-sm"></i><i  class="fa fa-share fa-sm"></i><i class="fa fa-download"></i></h2> 
              
            </div>
        </div>
        <!-- <div class="kcard " >
            <a [routerLink]="['../viewprofile']"><img  class="card-img-top" src="https://th.bing.com/th/id/OIP.VwDAQZfumkNyo17xbrePTgHaHa?pid=ImgDet&w=512&h=512&rs=1" alt="Card image cap"></a>
            <div class="status">
                <p>Status :<br></p>
                 <p class="card-text"> Approved</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>Ravi Shanker - Module Lead<br>Reporting Person-Vinay Raja</p><br>
              <h2><i  class="fa fa-pencil fa-sm"></i><i  class="fa fa-share fa-sm"></i><i class="fa fa-download"></i></h2>
              
            </div>
        </div>
        <div class="kcard " >
            <a [routerLink]="['../viewprofile']"><img  class="card-img-top" src="https://th.bing.com/th/id/OIP.VwDAQZfumkNyo17xbrePTgHaHa?pid=ImgDet&w=512&h=512&rs=1" alt="Card image cap"></a>
            <div class="status">
                <p>Status :<br></p>
                 <p class="card-text"> Approved</p>
              </div>
            <div class="card-body">
              <p class="card-text"><br>Ravi Shanker - Module Lead<br>Reporting Person-Vinay Raja</p><br>
              <h2><i  class="fa fa-pencil fa-sm"></i><i  class="fa fa-share fa-sm"></i><i class="fa fa-download"></i></h2>
              
            </div>
        </div> -->
    
    
  </div>
  <div class="mt-3 pagination">
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
</div>
</div>